body{
    /* change background color*/
    background-color:bisque;
}

h2{
    font-family: cursive;
    font-size:x-large;
}

div{
    color:darkslategrey;
    font-family: 'Open Sans', sans-serif ;
}

 /* Constrain the description to the width of the image*/
.caption {
    max-width: 600px;
  }

/* Align image and ingredients left*/
.left{
    max-width: 600px;
    float: left;
  }
 /* Aligin instructions right*/
.right{
    float:  right;
}